{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3 class="text-center" style="font-family: 'Times New Roman', Times, serif;">FILL THE FORM TO RETURN THE BOOK</h3>
<hr>
<div class="container">
    
    <form method="post"  style="border: 1px solid black; border-radius: 10px; padding: 30px;background-color: aliceblue;width: 800px; margin-left: 90px;">
        {% csrf_token %}
        <div class="row">
            <div class="">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-3">Borrow Book</button>
            </div>
        </div>
    </form>
</div>

<style>
    .container {
        padding-top: 20px;
        max-width: 1000px; 
        margin: 0 auto; 
        background-color: #efefd0;
        padding: 20px;
            }
</style>

{% endblock %}
